// Color
$off-black:  #20222b;
$blue: #3c4251;
$light-blue: #262935;
$off-white: #fff;
$purple: #8357c5;
// Background
$dark-blue: #333745;

// width
$layout-maxwidth: 60rem;

//size
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;

// breakpoint
$desktop-breakpoint: 45rem;
